.container{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    display: flex;
    width: 571px;
}
.container img{
    width: 91px;

}
.cart-product p{
    margin: 0;
    margin-left: 10px;
}
.cart-product-name{
    font-size: larger;
    font-weight: 400;
}
.cart-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cart-product button{
    margin-left: 50px;
    margin-top: 20px;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    color: brown;
    background-color: rgb(249, 204, 204);
    border: none;
}
.button{
    height: 27px;
    width: 27px;

}
.button:hover{
    color: chocolate;
}