.form-container{
 width: 600px;
 height: 600px;
 border: 1px solid rgb(241, 235, 235);
 box-sizing: border-box;
 display: flex;
 border-radius: 8px;
 justify-content: center;
 margin: 80px auto;
 box-shadow:5px 5px rgb(245, 208, 140);;

}
.form-title{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #2A414F;
    font-weight: 400;
}
lebel{
    display: block;
    margin-left: 5px;
}
input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px
}
.form-submit{
    width: 415px;
    height: 55px;
    margin-top: 30px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(245, 208, 140);
    border-radius: 6px;
    border: none;

}
.form-link{
    color: rgb(245, 208, 140) ;
    text-decoration: none;
}